/* nav1 */
.hotline{
    float:right;
    padding-top: 14px;
    padding-bottom: 14px;
}

.social-icons{
    float:left;
    padding-top: 14px;
    padding-bottom: 14px;
}

.nav{
    border-bottom: 1px solid rgba(229,229,229,255);
}

.icon{
    width: 26px;
    height:26px;
}

.hotline-text{
    font-size: 20px;
    color: #303842;
    font-weight: 400;
    font-family: "Roboto";
    display:block;
}

@media screen and (min-width:480px){
    .hotline-text{
        display: inline;
    }
    
}

@media screen and (min-width:992px){
    .social-icons{
        padding-left:19%;
    }

    .hotline{
        padding-right:20%;
    }
}

/* nav2 */

.firefly-text{
    font-size: 26px;
    line-height: 25px;
    color: #303842;
    font-weight: 300;
    font-family: "Open Sans";

    position: relative;
    bottom:10px;
}

.firefly-icon{
    width:40px;
    height:44px;
}

.tabtext{
    padding: 5px 10px;
}

.firefly{
    float:left;
    padding-top: 5px;
    padding-bottom: 5px;
}

.ultab{
    float:right;
}

.navlist{
    padding-top: 5px;
    padding-bottom: 5px; 
}

@media screen and (min-width:480px){
    .ultab{
        overflow-x: hiddden;
    }

    .tabtext{
        display: inline;
        padding: auto;
    }

    .firefly{
        padding-top: 14px;
        padding-bottom: 14px;
    }

    .navlist{
        padding-top:30px;
    }

}

@media screen and (min-width:992px){
    .tabtext{
        padding: 28px auto;
    }

    .firefly{
        padding-left:19%;
    }

    .navlist{
        padding-right:20%;
    }
}


/* footer */
.footer{
    border-top:1px solid rgb(229,229,229);
    margin-top: 4%;
}

.footer-description{
    line-height: 24px;
    
}

.footer-bottom{
    padding-top:31px;
    padding-bottom:20px;
}

.privacy-policy{
    float:left;
    font-size:14px;
}

.term{
    float:right;
    font-size:14px;
}

.footer-info{
    padding:5px;
    margin:5px;
    border:1px solid rgba(180,180,184,255);
}

.text-gray{
    color: #303842;
}

.footer-table td{
    padding-top: 3px;
    padding-bottom:3px;
}

.footer-table{
    width:100%;
}

.footer-lists{
    margin-top:1.5%;
    text-align:center;
}

.footer-follow-us{
    padding:auto;
    margin-top:1.5%;
    width:fit-content;
    margin:auto;
}

.follow-us{
    margin-bottom: 20px;
}


@media screen and (min-width:480px){
    .footer-table td{
        padding-top: 5px;
        padding-bottom:5px;
    }

    .footer{
        margin-top:6%;
    }
}

@media screen and (min-width:992px){
    .footer-info{
        margin-left:19%;
        max-width:24%;
        border:none;
        margin-top:1.5%;
        float:left;
        margin-right:3%
    }

    .footer-lists{
        margin-top:1.5%;
        width:20%;
        float:left;
        text-align:left;
    }

    .footer-follow-us{
        padding:none;
        margin-right:20%;
        margin-top:2%;
        float:right;
    }

    .footer{
        margin-top: 7%;
    }
}

/* main-first */
.main-first{
    background-image: url('../images/imagem1.png');
    background-repeat:repeat;
    border: 1px solid rgba(229,229,229,255);
    background-size:contain;
}

.main-first-content-title{
    font-size: 38px;
    line-height: 40px;
    color: #48505a;
    font-weight: 50;
    font-family: "Roboto";
    text-align: center;
}

.main-first-content-description{
    text-align:center;
    padding-left:12%;
    padding-right:12%;
    padding-bottom:30px;
    padding-top: 20px;
}

.main-first-content{
    padding-top:10%;
    padding-bottom:10%;
    padding-right:1%;
    padding-left:1%;
}

#explore-now{
    border-top-left-radius: 35%;
    border-top-right-radius: 35%;
    border-bottom-left-radius: 35%;
    border-bottom-right-radius: 35%;
    background-color: #ffffff;
    border: 4px solid rgba(245,245,245,255);
    color: green;
    padding: 15px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    box-shadow: 1px 1px rgba(235,235,235,255);
}

.pl{
    padding-left:34%;
}

@media screen and (min-width:480px){
    .main-first{
        background-image: url('../images/imaget1.png');
        background-repeat:no-repeat;
    }

    .main-first-content{
        padding-top:15%;
        padding-bottom:10%;
        padding-right:15%;
        padding-left:15%;
    }

    .main-first-content-title{
        line-height: 50px;
    }

    .pl{
        padding-left:34%;
    }
}

@media screen and (min-width:768px){
    .main-first{
        background-image: url('../images/image7.png');
        background-repeat:no-repeat;
    }

    .main-first-content{
        padding-top:17%;
        padding-bottom:14%;
        padding-right:20%;
        padding-left:20%;
    }  

    .main-first-content-title{
        line-height: 60px;
    }

    .pl{
        padding-left:38%;
    }
}

@media screen and (min-width:992px){
    .main-first{
        background-image: url('../images/image1.png');
        background-repeat:auto;
    }

    .main-first-content{
        padding-top:17%;
        padding-bottom:14%;
        padding-right:25%;
        padding-left:25%;
    }

    .main-first-content-title{
        line-height: 72px;
    }

    .pl{
        padding-left:40%;
    }
}


/* main-second */
.our-customers{
    padding:10px;
    text-align: center;
}

.our-customers-title{
    font-size: 24px;
    line-height: 24px;
    color: #303842;
    font-weight: 300;
    font-family: "Roboto";
}

.main-second-picture{
    max-width:100%;
    text-align: center;
}

.pic{
    max-width: 100%;
}

.main-second{
    border-top:1px solid rgba(229,229,229,255);
}

@media screen and (min-width:768px){
    .main-second{
        padding-top: 1%;
        padding-bottom: 1%;
    }
}

@media screen and (min-width:992px){
    .main-second-picture{
        padding-right:17%;
        float:right;
       margin-top: 25px;
        margin-bottom: auto;
    }

    .our-customers{
        padding-left:17%;
        width:37%;
        float:left;
        text-align:left;
    }
}

.main-third{
    padding-top:5%;
    border-top:1px solid rgba(229,229,229,255);
}

.woman-pic{
    padding: 42px 18px 42px 0px;
    max-width:28%;
    float:left;
    box-shadow: -20px 15px 10px rgb(220,220,220);
    background-color: rgba(243,243,243,255);
}

.services-title{
    font-size: 24px;
    line-height: 24px;
    color: #303842;
    font-weight: 300;
    font-family: "Roboto";
}

.service-text{
    font-size: 14px;
    line-height: 24px;
    color: #8191a6;
    font-weight: 300;
}

.service-icon{
    float:left;
}

.width-50{
    width:50%;
}

.services{
    margin-left:0%;
    text-align:left;
    max-width:80%;
}

.services-lists{
    padding: 15px;
}

.main-third-right{
    float:right;
    margin-right:10%;
    width:60%;
    margin-left:0%;
    margin-bottom:1%;
}

.description-detail{
    width:100%;
    /* display:inline-block; */
    float:left;
}

@media screen and (min-width:992px){
    .services-table{
        padding-top:30px;
    }

    .main-third-right{
        width:55%;
        margin-bottom:15%;
    }
}

/* main-forth */
.build-text{
    padding-bottom:30px;
    font-size: 24px;
    line-height: 32px;
    color: #303842;
    font-weight: 300;
    font-family: "Roboto";
}

.lorem{
    font-size: 14px;
    line-height: 12px;
    color: #8191a6;
    font-weight: 600;
    font-family: "Roboto";
}

.number-description{
    font-size: 15px;
    line-height: 18px;
    color: #303842;
    font-weight: 300;
    font-family: "Open Sans";
    margin-bottom:20px;
}

.number{
    font-size: 44px;
    line-height: 60px;
    font-weight: 250;
    font-family: "Roboto";
}

.number1-color{
    color: #32d5ba;
}

.number2-color{
    color: #6dc4f2;
}

.number3-color{
    color: #ffd13c;
}

.number4-color{
    color: #f44336;
}

.statistics-table{
    width:80%;
}

.four-left{
    margin-left:2%;
}

.man-pic{
    float:right;
}

.man-image{
    width:100%;
    float:right;
}

.main-forth{
    background-color: rgba(250,250,250,255);
    margin-top:2.5%;
    padding-top:2.5%;
}

.statistics-title{
    margin-bottom:1%;
}

@media screen and (min-width:480px){
    .number-description{
        margin-bottom: 30px;
    }

    .four-left{
        margin-left:5%;
        width:60%;
    }

    .build-text{
        font-size: 34px;
    }
}

@media screen and (min-width:992px){
    .number-description{
        margin-bottom:3%;
    }

    .statistics-table{
        width:100%;
    }

    .four-left{
        width:40%;
        margin-left:30%;
        padding-top: 12%;
    }

    .statistics-title{
        margin-bottom: 5%;
    }
}

/* main-fifth */
input[type='text']{
    width:100%;
    background-color: rgba(245,245,245,255);
    height:56px;
}

textarea{
    width:100%;
    background-color: rgba(245,245,245,255);
    height:150px;
}

.form-same-line div{
    float:left;
    width:48%;
}

.inline{
    margin-right:4%;
}

#send{
    border-top-left-radius: 43%;
    border-top-right-radius: 43%;
    border-bottom-left-radius: 43%;
    border-bottom-right-radius: 43%;
    background-color: #ffffff;
    border: 1px solid rgba(245,245,245,255);
    color: green;
    padding: 15px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    box-shadow: 1px 1px rgba(235,235,235,255);
}

.main-fifth-content{
    margin-left: 2%;
    margin-right:2%;
    margin-top:4%;
}

.main-fifth{
    background-image: url('../images/back3.png');
}

.contact-us{
    text-align: center;
}

.contact-us-text{
    font-size: 26px;
    line-height: 54px;
    color: #303842;
    font-weight: 300;
    font-family: "Roboto";
}

.label{
    font-size: 13px;
    line-height: 30px;
    font-weight: 400;
    font-family: "Open Sans";
}

.form-content{
    border:5px solid rgba(244,244,244,244);
    margin-top:10%;
    background-color: white;
}

.form{
    padding:60px;
}

@media screen and (min-width:480px){
    .main-fifth-content{
        margin-left: 15%;
        margin-right:15%;
        margin-top:4%;
    }

    .main-fifth{
        background-image: url('../images/back2.png');
        background-repeat:no-repeat;
    }
}

@media screen and (min-width:768px){
    .main-fifth-content{
        margin-left: 20%;
        margin-right:20%;
        margin-top:5%;
    }

    .main-fifth{
        background-image: url('../images/back1.png');
        background-repeat:no-repeat;
    }
}

@media screen and (min-width:992px){
    .main-fifth-content{
        margin-left: 32%;
        margin-right:32%;
        margin-top:6%;
    }
}