.nav{
    height: 84px;
    background-color: rgba(125, 216, 232, 255);
}

.logo{
    position: relative;
    left: 32px;
    top: 20px;

    
}

.search-inputtext{
    width: 248px;
    height: 20px;
    position:relative;
    left:20px;
    bottom: 20px;

}

.search-pos-left{
    position:relative;
    left:0px;
    bottom: 14px;
}

.search-pos{
    position:relative;
    left:-5px;
    bottom: 20px;
}

.icon-cross{
    position:relative;
    left:-10px;
    bottom: 14px;
}

.icon-search{
    position:relative;
    left:-12px;
    bottom: 12px;
}

.search-pos-right{
    position:relative;
    left:-16px;
    bottom: 12px;
}

.lbbutton{
    position:relative;
    left:-4px;
    bottom: 12px;
}

.search-button{
    position:relative;
    left:-8px;
    bottom: 18px;
    background-color: rgba(39, 79, 86, 255);
    border: 0px;
    width:44px;
    height:23px;
    color:rgba(255, 255, 255, 255)
}

.search-button:hover{
    background-color: rgba(80, 80, 80, 255);
}

.rbbutton{
    position:relative;
    left:-13px;
    bottom: 12px;
}

.nav2{
    height: 40px;
    background-color: rgba(245, 245, 245, 255);
    margin-bottom: 32px;
}

.footer{
    height:48px;
    background-color: rgba(114, 114, 114, 255);
    margin-top: 32px;
    font-size: 11px;
    color:rgba(255, 255, 255, 255);
}

ul{
    overflow-x:hidden;
    white-space:nowrap; 
    height: 1em;
    width: 100%;

    position: relative;
    left: 32px;
    top: 13px;
}

li{ 
    display:inline; 
    margin-left: 14px;
} 

.footer>div>ul>li:last-child{
    position:relative;
    left:500px;
}

li>.nav2-li{
    font-size: 13px;
    letter-spacing: 0px;
    line-height: 51px;
    color: #3c3c3c;
    font-weight: 400;
    font-family: "Muli";
}

img[alt='icon invite']{
    margin-left: 140px;
}

img[alt='icon-friend']{
    margin-left: 27px;
}

.left-sidebar{
    background-color:rgba(245, 245, 245, 255);
    font-size: 12px;
    letter-spacing: 0px;
    line-height: 22px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Muli";
    margin-right: 12px;
}

.recent-searches{
    font-size: 17px;
    letter-spacing: 0px;
    line-height: 22px;
    color:#faf6f6;
    font-weight: 400;
    font-family: "Muli";
    height:5.78%;
    background-color: rgba(125, 216, 232, 255);
    padding-left:10px;
    padding-top: 3px;
    padding-bottom:3px;

}

.text-pos{
    position: relative;
    left: 5px;
    top: 9px;
}

.recent-li{
        font-size: 14px;
        letter-spacing: 0px;
        line-height: 22px;
        color:#3c3c3c;
        font-weight: 400;
        font-family: "Muli";
        width:85%;
        padding-left:5px;
        display: inline-block;
}

.recent-li:hover{
    background-color: rgba(255, 255, 255, 255);
}

.right-li{
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 22px;
    color:#3c3c3c;
    font-weight: 400;
    font-family: "Muli";
    padding-left:10px;
    padding-top:8px;
    
}

.right-li:hover{
    background-color: rgba(255, 255, 255, 255);
}

.icon{
    display: inline;
}

.recent2{
    margin-top: 10px;
}

.block-30{
    margin-top: 6px;
}

.block-h-46{
    height:46px;
}

.block-h-25{
    height:25px;
}

.main-content{
    margin-left: 40px;
}

.entry-text{
    font-size:24px;
    font-weight: 400;
    font-family: "Muli";
    margin-bottom: 13px;
    width:537px;
}

.main-entry-nav-text{
    float: left;
    padding:11px 95px 11px 95px;
}

.sub-entry-nav-text{
    float: left;
    margin-left: 12px;
    width: 22%;
    text-align: center;
    background-image: url('../images/icon-inactive.png');
    background-repeat: no-repeat;
    background-size: 115px 30px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.sub-entry-nav-text:hover{
    background-image: url('../images/icon-active.png');
}

.all-members{
    background-image: url('../images/icon-active.png');
}

img[alt='user']{
    float:left;
}

.blue-text{
    color:rgba(47,193,218,255);
}

.red-text{
    color:rgba(255,0,0,255);
}

.subscribed{
    color:rgba(130,162,63,255);
}

.user{
    padding:20px;
    margin-top:10px;
    margin-bottom: 10px;
}

.text-15{
    font-size: 15px;
    font-family: "Muli";
}

.text-12{
    font-size: 12px;
    font-family: "Muli";
}

.color-bg-gray{
    background-color: rgba(245,245,245, 255);
}

.color-bg-white{
    background-color: rgba(255,255,255, 255);
}